<app-customer-layout></app-customer-layout>
<div class="container-fluid"style="text-align:center;">
  <h1>Profile</h1>
  <br />

  <div  class="table-responsive" style="text-align:center;" >
    <table class="table"  style="border:5px solid rgba(220,230,242,1); ">
      <tr style="background-color:rgba(220,230,242,1);   font-size:12pt" >
        <th style="text-align:left;">First Name</th>
        <td style="text-align:left;">{{Fname}}</td>
      </tr>
      <tr style="background-color:rgba(220,230,242,1); font-size:12pt">
        <th style="text-align:left;">Last Name</th>
        <td style="text-align:left;"></td>
      </tr>
      <tr style="background-color:rgba(220,230,242,1); font-size:12pt">
        <th style="text-align:left;">Email</th>
        <td style="text-align:left;"></td>
      </tr>
      <tr style="background-color:rgba(220,230,242,1); font-size:12pt">
        <th style="text-align:left;">Gender</th>
        <td style="text-align:left;"></td>
      </tr>
      <tr style="background-color:rgba(220,230,242,1); font-size:12pt">
        <th style="text-align:left;">Contact Number</th>
        <td style="text-align:left;"></td>
      </tr>
      <tr style="background-color:rgba(220,230,242,1); font-size:12pt">
        <th style="text-align:left;">Date Of Birth</th>
        <td style="text-align:left;"></td>
      </tr>
      <tr style="background-color:rgba(220,230,242,1); font-size:12pt">
        <th style="text-align:left;">Address</th>
        <td style="text-align:left;"></td>
      </tr>
    </table>
  </div>
 </div>










